<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css"
                               href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.46.2/css/patternfly.css">
        <link rel="stylesheet" type="text/css"
                               href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.46.2/css/patternfly-additions.css">
    </head>

    <body>

        <html class="login-pf">
            <div class="login-pf-page">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <header class="login-pf-page-header">
                                <h1>
                                    <font color=white>
                                        Registeraion is now open!
                                    </font>
                                    </h>
                            </header>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                                    <div class="card-pf">
                                        <header class="login-pf-header">
                                            <h1>Enter candidate name</h1>
                                        </header>
                                        <form action="/new_candidate/" method="GET">
                                            <div class="form-group">
                                                <label class="sr-only" for="candidate_name">Candidate name:</label>
                                                <input type="text" name="candidate_name" class="form-control  input-lg" id="candidate_name" placeholder="Candidate name">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg">
                                                <div><span id="time"></span></div>
                                            </button>
                                        </form>
                                        <p class="login-pf-signup">Current account id: <b>{{ account_id }}</b>
                                    </div><!-- card -->


                                    {% if candidates %}
                                    <div class="card-pf">
                                        <center><h1>List of candidates</h1></center>
                                        <header class="login-pf-header">
                                            <b>
                                                {% for candidate in candidates %}
                                                {{ candidate }},
                                                {% endfor %}
                                            </b>
                                        </header>
                                    </div><!-- card -->
                                    {% endif %}


                                    <footer class="login-pf-page-footer">
                                        <ul class="login-pf-page-footer-links list-unstyled">
                                            <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
                                            <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
                                            <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
                                        </ul>
                                    </footer>
                                </div><!-- col -->
                            </div><!-- row -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- login-pf-page -->

            <!-- Optional JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script>
                function startTimer(duration, display) {
                    var timer = duration, minutes, seconds;
                    setInterval(function () {
                        minutes = parseInt(timer / 60, 10);
                        seconds = parseInt(timer % 60, 10);

                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        display.textContent = minutes + ":" + seconds;

                        if (--timer < 0) {
                            timer = duration;
                        }
                    }, 1000);
                }
                function startTimeout() {
                    setTimeout(function () {
                        window.location.reload(1);
                    }, 1000 * {{ timeout_duration_sec }});
                }

                window.onload = function () {
                    var display = document.querySelector('#time');
                    startTimer({{ timeout_duration_sec }}, display);
                    startTimeout();
                };
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
    </body>

        </html>
