<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css"
                               href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.46.2/css/patternfly.css">
        <link rel="stylesheet" type="text/css"
                               href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.46.2/css/patternfly-additions.css">
    </head>

    <body>

        <html class="login-pf">
            <div class="login-pf-page">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <header class="login-pf-page-header">
                                <h1>
                                    <font color=white>
                                        Registeraion is now open!
                                    </font>
                                    </h>
                            </header>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                                    <div class="card-pf">
                                        <header class="login-pf-header">
                                            <select class="selectpicker">
                                                <option>English</option>
                                            </select>
                                            <h1>Select your contract</h1>
                                        </header>
                                        <form action="/init/" method="GET">
                                            <div class="form-group">
                                                <label class="sr-only" for="contractAddr">Contract address:</label>
                                                <input type="text" name="contract_addr" class="form-control  input-lg" id="contractAddr" placeholder="Contract address">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg">Start</button>
                                        </form>
                                        <p class="login-pf-signup">Current account id: <b>{{ account_id }}</b>
                                        <p>
                                    </div><!-- card -->

                                    {% if has_candidates %}
                                    <hr />
                                    <div class="card-pf">
                                        <div class="list-view-pf-body">
                                            <div class="list-view-pf-description">
                                                <div class="list-group-item-heading">
                                                    Event One
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}



                                <footer class="login-pf-page-footer">
                                    <ul class="login-pf-page-footer-links list-unstyled">
                                        <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
                                        <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
                                        <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
                                    </ul>
                                </footer>
                            </div><!-- col -->
                        </div><!-- row -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
            </div><!-- login-pf-page -->

            <!-- Optional JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
    </body>

        </html>
